:root{
    --primary-purple: rgb(111, 0, 255);
    --primary-light: rgb(255, 255, 255);
}

.active{
    width: max-content;
    background-color: var(--primary-purple);
    border-radius: 10px;
}
.sidenav{
    z-index: 1;
    position: fixed;
}

.main_content{
    margin-left: 25%;
}

.tabel{
    max-height: 50vh;
    overflow-y: scroll;
    overflow-x: scroll;
}

th{
    position: sticky;
}
tbody{
    border: 1px solid black;
}

nav{
    display: flex;
    flex-direction: column;
}

.card{
    background-color: var(--primary-purple);
    color: var(--primary-light);
}

.charts{
    display: flex;
    flex-direction: row;
}